{%extends "base.html"%}


{%block title_head%}
<title>vehiculos</title>
{%endblock title_head%}

{% block h1_header %}
vehiculos
{% endblock h1_header %}

{% block main %}
<form action="">
    <input type="text"name='marca'placeholder='ingrese su busqueda'>
    <input type="submit"value='buscar'>
    
</form>

{% if lista_de_autos %}
<ul>
    {% for auto in lista_de_autos %}
    <li>{{auto}}</li>
    {% endfor %}
</ul>
{% else %}
<p>no se encontro ningun vehiculo</p>
{% endif %}
{% endblock main %}
